.mainImage {
  margin-bottom: 0;
}
.wow {
  visibility: hidden;
}

.main {
  display: flex;
  flex-direction: column;
}

.secondNav {
  display: flex;
  background-color: rgb(55, 55, 55);
  border: 1px solid rgb(89, 88, 88);
  color: white;
  height: 80px;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

.secondNavText1 {
  font-weight: 900;
  letter-spacing: 1.2px;
  font-size: x-large;
  margin-right: 5%;
}

.secondNavButton {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 5px;
  font-size: 16px;
}

.horizontalLine {
  width: 80%;
  border-top: 1.15px solid black;
}

.thirdDivContainer {
  display: flex;
  height: 400px;
}
.icon {
  height: 18%;
  max-width: 25%;
}

.containerComponent {
  flex-basis: 33.333%;
  padding: 20px 10px 10px 0;
  margin: 2px 2px;
}

@media only screen and (max-width: 769px) {
  .main {
    width: 100vw;
  }
  .thirdDivContainer {
    flex-direction: column;
    height: auto;
  }
  .icon {
    height: 50px;
  }
  .secondNavButton {
    padding: 8px;
  }
}

@media only screen and (min-width: 1165px) {
  .thirdDivContainer {
    justify-content: center;
    align-content: center;
  }
  .containerComponent {
    flex-basis: 30%;
    padding: 20px;
  }
}
