.image {
  height: 76vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  margin: 0;
  position: relative;
}

.text {
  position: absolute;
  color: white;
  top: 35%;
  left: 25%;
  font-size: 4.7rem;
}
@media only screen and (max-width: 660px) {
  .text {
    top: 47%;
    left: 8%;
    font-size: 3rem;
    padding: 0 10px;
  }
}
